@color_1: #010101;
@font-family_1: FontAwesome, serif;

.left-menu {
  position: absolute;
  display: inline-block;
  margin-left: -9px;
  width: 73px;
  height: 290px;
  text-align: start;
  background-color: #fff;
  border: 1px solid rgba(191, 191, 191, .5);
  border-radius: 2px;
  box-shadow: .5px 7px 9px rgba(0, 0, 0, .2);
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      margin: 0;
      padding-top: 14px;
      padding-bottom: 24px;
      padding-left: 10px;
      height: 10px;
      color: @color_1;
      opacity: .54;
      border-bottom: 1px solid #bfbfbf;
      font-size: 13px;
      font-weight: 400;
      cursor: pointer;
      &:last-child {
        border-bottom: 0;
      }
      > a {
        &::after {
          float: right;
          font-family: @font-family_1;
          content: '\f107';
          color: @color_1;
          opacity: .54;
          padding-right: 7px;
        }
        &:active {
          color: @color_1;
        }
        &:hover {
          color: @color_1;
        }
        &:link {
          color: @color_1;
        }
        &:visited {
          color: @color_1;
        }
        text-decoration: none;
      }
      &:hover {
        background-color: #eeeeee;
        font-weight: bolder;
        opacity: 1;
      }
    }
  }
}
