@color_1: #48484a;

#filter-menu {
  display: none;
  position: relative;
  background-color: #fff;
  width: 214px;
  height: 154px;
  box-shadow: .9px .5px 5px rgba(0, 0, 0, .3);
  margin-left: -192px;
  margin-top: -14px;
  text-align: start;
  > ul {
    position: absolute;
    padding: 0;
    margin: 2px 0 0;
    list-style: none;
    color: @color_1;
    font-size: 14px;
    font-weight: 400;
    > li {
      padding-left: 24px;
      padding-top: 21px;
    }
  }
}

.filter-menu-content {
  > label {
    display: inline-block;
    position: relative;
    > span {
      position: absolute;
      padding-left: 7px;
      margin-top: 1px;
      cursor: pointer;
    }
  }
  > input[type=checkbox] {
    & + label {
      &:before {
        display: inline-block;
        content: url(/app/_images/cards/checkbox-empty.png);
        cursor: pointer;
      }
    }
    &:checked {
      & + label {
        &:before {
          content: url(/app/_images/cards/checkbox-checked.png);
        }
      }
    }
  }
}

span {
  display: inline-block;
}
