@color_1: #fff;

.main-header {
  position: relative;
  background-color: #079894;
  margin: 0;
  height: 64px;
  display: block;
  > * {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  > h1 {
    position: absolute;
    left: 206px;
    top: 25px;
    bottom: 25px;
    font-weight: 400;
    font-size: 18px;
    width: 103px;
    line-height: 17px;
    color: @color_1;
  }
}

#logo {
  position: absolute;
  left: 62px;
  top: 17px;
}

#menu-button {
  position: absolute;
  color: @color_1;
  height: 12px;
  width: 18px;
  padding: 25px 0 26px 23px;
}

#white-border {
  position: absolute;
  left: 188px;
  top: 18px;
  height: 28px;
}

.user-info {
  width: 119px;
  height: 28px;
  padding: 18px 47px 18px 0;
  float: right;
  a {
    display: inline-block;
    float: right;
  }
  h1 {
    display: inline-block;
    color: @color_1;
    font-size: 13px;
    font-weight: bolder;
    line-height: 11px;
  }
}
