@color_1: #079894;
@color_2: #000;
@color_3: #48484a;
@font-family_1: FontAwesome, serif;

.sub-header {
  position: relative;
  height: 47px;
  background-color: #fff;
  border-bottom: 1px solid rgba(191, 191, 191, .25);
  > h1 {
    position: absolute;
    display: inline-block;
    line-height: 16px;
    opacity: .87;
    top: 16px;
    left: 174px;
    margin: 0;
    color: @color_3;
    font-size: 20px;
    font-weight: 400;
  }
}

.back-button {
  position: absolute;
  display: inline-block;
  line-height: 16px;
  opacity: .87;
  text-decoration: none;
  left: 26px;
  top: 14px;
  color: @color_1;
  font-size: 14px;
  font-weight: 400;
  &::before {
    font-family: @font-family_1;
    content: '\f104';
    color: @color_1;
    font-size: larger;
    font-weight: 700;
    padding-right: 11px;
  }
  &:hover {
    color: @color_2;
    &:before {
      color: @color_2;
    }
  }
}

.filter-icon {
  &::after {
    content: url(/app/_images/sysbar-menu.png);
    margin-left: 18px;
  }
}

#filter-control {
  display: none;
}

.filter-menu-content {
  > input[type=checkbox] {
    display: none;
  }
}

.subheader-bar {
  display: inline-block;
  position: absolute;
  width: 40px;
  margin-top: -56px;
  margin-left: -54px;
  > a {
    text-decoration: none;
    top: 2px;
  }
  > figure {
    display: inline-block;
    margin: 0;
    float: left;
    > a {
      &:first-child {
        float: left;
        margin-right: 18px;
      }
    }
  }
}
