@color_1: #000;

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: #eee;
  > header {
    opacity: .38;
    color: @color_1;
    font-size: 11px;
    line-height: 25px;
  }
}